<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insight-cx</title>
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="site-header">
    <div class="header-content">
        <h1>insight-cx</h1>
        <p>Every Voice. Every Insight.</p>
    </div>
</header>

<nav>
    <p>Menu:</p>
    <a href="{{ url_for('dashboard') }}">Dashboard</a><br>
    <a href="{{ url_for('upload') }}">Upload</a><br>
    <a href="{{ url_for('feedback') }}">Feedback Explorer</a><br><br>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<main>
    {% block content %}{% endblock %}
</main>

<footer class="site-footer">
    &copy; insight-cx 2026
</footer>

</body>
</html>